body {
  height: inherit;
  width: inherit;
  background-color: rgb(223, 222, 223);
}

.collapsing {
  transition: 0;
}

.col-sm-3, .col-sm-6 {
  padding: 3vh;
}

h1, h2, h3, h4, h5 {
	font-family: 'Poppins', sans-serif;
	color: black;
	font-weight: 500;
  line-height: 1;
}

@media (orientation: landscape) {
  .container {
    width: 100%;
    height: 90vh;
    display: block;
  }
  .sensor{
    width: inherit;
    height: inherit;
    margin: auto;
    overflow: hidden;
    background: rgb(255, 255, 255);
    /*border: 1px dashed rgb(255, 0, 0);*/
  }
}

@media (orientation: portrait) {
  .container {
    width: 100%;
    height: 100%;
    display: block;
  }
  .canvas{
    width: inherit;
    height: inherit;
    margin: auto;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    /*border: 1px dashed rgb(255, 0, 0);*/
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: rgb(255, 0, 212);
}
