* {
  box-sizing: border-box; 
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  background-color: white;
  scrollbar-color: lightblue;
  scrollbar-width: large;
}

#main {
  display: flex;
  flex: 1;
}

#main > container {
  flex: 1;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

#myScene_three {
  flex: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}
#myScene_paper {
  flex: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid black;
}

/* Style the scrollbar background */
::-webkit-scrollbar {
  background: white;
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: lightblue;
  border-radius: 10px;
}

#main > dashboard,
#main > aside {
  flex: 0 0 20vw;
  background: lightgray;
  overflow: scroll;
}

#main > dashboard {
  order: -1;
}

header, footer {
  background: white;
  height: 10vh;
}

header, footer, container, dashboard, aside {
  padding: 1em;
}